$white:#f3f3eb;
$blue:#949dc2;
$pink:#f5dcec;
$yellow:#fbff00;
$gray:#414141;

*{
    margin: 0;
}
.small_english{
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    color: $blue;
}
.small_english_pink{
    color: $pink;
}
h5{
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    margin-bottom: 20px;
}
hr{
    border: none; 
    height: 2px; 
    background-color: #0000005b; 
    margin: 20px auto;
}
.colorBox{
    display: flex;
    margin-bottom: 20px;
    .colorchip{
        display: flex;
        align-items: center;
        gap: 5px;
        padding-right: 20px;
        .color_block{
            width: 20px;
            height: 20px;
            border: #fff solid;
        }
        .color_block_white{
            background-color: $white;
        }
        .color_block_blue{
            background-color: $blue;
        }
        .color_block_pink{
            background-color: $pink;
        }
        .color_block_green{
            background-color: $yellow;
        }
        .color_block_gray{
            background-color: $gray;
        }
    }
    
}
.maxwidth{
    word-break: break-all;
}
@media (max-width: 650px) {
    .maxwidth{
        width: 90%;
       

    }
}
.header{
    width: 100%;
    height: 300px;
    background-image: url(https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 300px;
        background:linear-gradient(rgba(212, 93, 197, 0.233), rgba(255, 230, 0, 0.185));
        position: absolute;
    }
    .icon{
        display: inline-block;
        border: 3px solid $white;
        font-size: 50px;
        color: $white;
        padding: 15px 30px;
        z-index: 1;
    }
}
.content{
    padding: 100px ;
    display: flex;
    justify-content: center;
}
.content_white{
    background-color: $white;
    color: $gray;
}
.content_blue{
    background-color: $blue;
    color: $gray;
}
.content_gray{
    background-color: $gray;
    color: $pink;
}
.button{
    // border: 1px solid;
    cursor: pointer;
    display: inline;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 700;
    color: $gray;
    font-size: 14px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.2s;
    &:hover{
        background-color: $yellow;
    }
}
.button_blue{
    background-color: $blue;
}
.button_white{
    background-color: $white;
}
.button_yellow{
    background-color: $pink;
}
.bright{
    box-shadow: rgb(221, 140, 171) 0px 20px 30px -10px;
}